@model TomatoGame.Web.Models.UserSignInSignUpViewModal
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tomato Game </title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- CSS -->

    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta name="google-signin-client_id" content="223825968887-2ut3vn0ph4juak6k4brcjts848ho3uor.apps.googleusercontent.com">

</head>
<body>

    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form id="loginForm">
                    <div class="field input-field">
                        @Html.TextBoxFor(m => m.LoginEmail, new { @placeholder = "Enter Your Email", @class = "form-control", required = "required" })
                    </div>

                    <div class="field input-field">
                        @Html.PasswordFor(m => m.LoginPassword, new { @placeholder = "Enter Password", @class = "form-control", required = "required" })
                    </div>

                    <div class="field button-field">
                        <button type="submit">Login</button>
                    </div>

                </form>

                <div class="form-link">
                    <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div style="padding-left: 60px;" class="g-signin2" data-onsuccess="onSignIn" data-width="240" data-height="50" data-longtitle="true">
                <button id="signinButton">Sign in with Google</button>

            </div>

        </div>

        <!-- Signup Form -->

        <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form id="signupForm">
                    <div class="field input-field">
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter Your Email", @class = "form-control", required = "required" })
                    </div>

                    <div class="field input-field">
                        @Html.TextBoxFor(m => m.Name, new { @placeholder = "Enter Your Name", @class = "form-control", required = "required" })
                    </div>

                    <div class="field input-field">
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter Password", @class = "form-control", required = "required" })
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="field input-field">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Your Password", @class = "form-control", required = "required" })
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="field button-field">
                        <button type="submit">Signup</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                </div>
            </div>

        </div>
    </section>

    <!-- JavaScript -->
    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/Scripts/Site.js"></script>
    <script src="~/Scripts/home.js"></script>


</body>
</html>