@model TomatoGame.Web.Models.UserSignInSignUpViewModal
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Tomato Game </title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="223825968887-2ut3vn0ph4juak6k4brcjts848ho3uor.apps.googleusercontent.com">

</head>
<body>

    <section class="container forms">
        <div class="form login">
            <div class="form-content">
                <header>Login</header>
                <form id="loginForm">
                    <div class="field input-field">
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter Your Email", @class = "form-control" })
                    </div>

                    <div class="field input-field">
                        @Html.PasswordFor(m => m.LoginPassword, new { @placeholder = "Enter Password", @class = "form-control" })
                    </div>

                    <div class="field button-field">
                        <button type="submit">Login</button>
                    </div>

                </form>

                <div class="form-link">
                    <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                </div>
            </div>

            <div class="line"></div>

            <div style="padding-left: 60px;" class="g-signin2" data-onsuccess="onSignIn" data-width="240" data-height="50" data-longtitle="true">
                <button id="signinButton">Sign in with Google</button>

            </div>

        </div>

        <!-- Signup Form -->

        <div class="form signup">
            <div class="form-content">
                <header>Signup</header>
                <form id="signupForm">
                    <div class="field input-field">
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter Your Email", @class = "form-control" })
                    </div>

                    <div class="field input-field">
                        @Html.TextBoxFor(m => m.Name, new { @placeholder = "Enter Your Name", @class = "form-control" })
                    </div>

                    <div class="field input-field">
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Enter Password", @class = "form-control" })
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="field input-field">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Your Password", @class = "form-control" })
                        <i class='bx bx-hide eye-icon'></i>
                    </div>
                    <div class="field button-field">
                        <button type="submit">Signup</button>
                    </div>
                </form>

                <div class="form-link">
                    <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                </div>
            </div>

        </div>
    </section>

    <!-- JavaScript -->
    <script src="~/Scripts/Site.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
    }

<script>
    $(document).ready(function () {

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }

         // AJAX login form submission

    $('#loginForm').submit(function (event) {
        event.preventDefault(); // Prevent default form submission
        var formData = $(this).serialize(); // Serialize form data

        $.ajax({
            url: '@Url.Action("LoginAsync", "Home")',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response == true) {
                    window.location.href = '/Game/Index';
                }
                else {
                    Toastify({

                        text: "The Username or Password does not match. Please try again.",
                        style: {
                            background: "red",
                        },
                        duration: 3000

                    }).showToast();
                }
            },
            error: function (xhr, status, error) {
                // Handle error response
                console.error('Login error:', error);
            }
        });
    });

    // AJAX signup form submission
    $('#signupForm').submit(function (event) {
        event.preventDefault(); // Prevent default form submission
        var passwordText = $('#Password').val();
        var confirmPassword = $('#ConfirmPassword').val();

        if (passwordText !== confirmPassword) {
            event.preventDefault(); // Stop form from submitting
            Toastify({

                text: "The Passwords does not match. Please try again.",
                style: {
                    background: "red",
                },
                duration: 3000

            }).showToast();
            return;
        }

        var formData = $(this).serialize(); // Serialize form data

        $.ajax({
            url: '@Url.Action("SignUpAsync", "Home")',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response == true) {
                    window.location.href = '/Game/Index';
                }
                else {
                    Toastify({

                        text: "Something is wrong. Please try again.",
                        style: {
                            background: "red",
                        },
                        duration: 3000

                    }).showToast();
                }
            },
            error: function (xhr, status, error) {
                // Handle error response
                console.error('Signup error:', error);
            }
        });
    });
    });

</script>

</body>
</html>